version: '3.8'

services:
  php-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: otrosistema-php
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - mysql-db
    networks:
      - app-network

  mysql-db:
    image: mysql:8.0
    container_name: otrosistema-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: huetamoc_facturas
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    ports:
      - "3308:3306"   
    volumes:
      - db_data:/var/lib/mysql   
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: otrosistema-phpmyadmin
    restart: always
    ports:
      - "8000:80"
    environment:
      PMA_HOST: mysql-db       
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - mysql-db
    networks:
      - app-network

networks:
  app-network:

volumes:
  db_data:
